################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/K202_OpcenterCustomization/bin/Release/K202_OpcenterCustomization.dll
/K202_OpcenterCustomization/bin/Release/K202_OpcenterCustomization.pdb
/.vs/K202_OpcenterCustomization/v17/.suo
/K202_OpcenterCustomization/obj/x64/Release/K202_OpcenterCustomization.dll
/K202_OpcenterCustomization/obj/x64/Release/K202_OpcenterCustomization.pdb
